h1, h2, h3 {
  font-family: "Abril Fatface", cursive;
  color: #783E39;
}

p {
  font-family: "Poppins", sans-serif;
}

p a{
  color: #6F7783;
}

button {
  background-color: #CC8B62;
  padding: 2% 5%;
  border: none;
  border-radius: 5px;
  color: white;
  font-family: "Abril Fatface", cursive;
  font-size: 1em;
}

button:hover {
  background-color: #F2DFD1;
  color: #6F7783;
}

#content {
  background-image: url("assets/background2.jpg");
  background-repeat: repeat;
  background-size: cover;
  padding-bottom: 10%;
}

h1 {
  padding: 8%;
  font-size: 3em;
  text-align: center;
  background-image: url(assets/heading.png);
  background-size: 100% 90%;
  background-repeat: no-repeat;
}

ul {
  list-style: none;
}

/* Add a black background color to the top navigation */
.topnav {
  /* position: relative; */
  background-color: #FFF;
  overflow: hidden;
  font-family: 'Poppins', cursive;
  text-align: center;
  display:flex;
  flex-direction:column;
  text-align: center;
  align-items: center;
  margin-bottom: 2%;
  /* margin: auto; */
}


.topnav img {
  /* display: block; */
  width: 30%;
  height: auto;
  margin-bottom: 20px;
  /* margin: 10px auto auto auto; */
}
/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #783E39;
  text-align: center;
  padding: 14px 30px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  color: #783E39;
  background-color: #F2DFD1;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #F3D7BF;
  color: #783E39;
}

.recentWorkContainer {
  text-align: center;

  /* padding-top: 3%;
  padding-bottom: 3%;
  margin-top: 6%; */
}

#designBox{
background-image: url("assets/recentWork2.png");
background-size: 100% 100%;
}

#webBox{
background-image: url("assets/recentWork.png");
background-size: 100% 100%;
}

#teachingBox {
  background-image: url("assets/recentWork3.png");
  background-size: 100% 100%;
}

.portfolioBox {
  padding: 10%;
}

.portfolioBox h2 {
  font-size: 2em;
}

.portfolioBox p {
  font-size: 1.2em;
  color: #783E39;
}
/* Hover Overlay for images in Portfolio */
.container {
  position: relative;
  width: 70%;
  margin: auto;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #CC8B62;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: "Poppins", sans-serif;
}

/* Making tables for work */
.work {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 5%;
}

#design1 {
  grid-column-start: 1;
  grid-column-end: 2;
}

#design2 {
  grid-column-start: 2;
    grid-column-end: 3;
}

#design3 {
  grid-column-start: 3;
    grid-column-end: 4;
}

#design4 {
  grid-column-start: 1;
  grid-column-end: 2;
}

#design5 {
  grid-column-start: 2;
  grid-column-end: 3;
}

#design6 {
  grid-column-start: 3;
  grid-column-end: 4;
}

#web1 {
  grid-column-start: 1;
  grid-column-end: 2;
}

#web2 {
  grid-column-start: 2;
    grid-column-end: 3;
}

#web3 {
  grid-column-start: 3;
    grid-column-end: 4;
}

footer {
  text-align: center;
  padding: 1%;
  background-color: #CC8B62;
  color: white;
}


#social {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 30%;
}

#instagram, #behance, #wordpress {
  width: 30%;
  margin: 3% auto;
}

#footerMenu {
  font-family: Poppins;
  margin-top: 1%;
  font-size: 1.2em;
}

#footerMenu a{
  color: white;
  margin: 2%;
}

footer p{
  color: #F3D7BF;
}

@media screen and (max-width: 901px) {
  .topnav a, .topnav-right {
    float: none;
    display: block;
  }

  .topnav-centered a {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }
  .topnav img {
    display: none;
  }

  .work {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  #design1, #design2, #design3, #design4, #design5, #design6, #web1, #web2, #web3 {
    grid-column-start: 1;
    grid-column-end: 2;
    margin-top: 2%;
  }

  #designBox{
  background-image: url("assets/recentWork4.png");
  background-size: 100% 100%;
  }

  #webBox {
    background-image: url("assets/recentWork5.png");
  }

  #teachingBox {
    background-image: url("assets/recentWork6.png");
  }



  .portfolioBox {
    padding-top: 20%;
    padding-left: 15%;
    padding-right: 15%;
  }

  .container {
    position: relative;
    width: 60%;
    margin: auto;
  }
}
